*{
	margin: 0;
	padding: 0;
}
.main{
	width: 80%;
	margin: 0 auto;
	border: solid thin #000;
	height: 95%;
}
.head{
	font-size:  36px;
	width:  100%;
	border-bottom: thin solid #000;
}
.container{
	width:  100%;
	height: 80%;
	background: #fee;
	overflow: scroll;
	display:  block;
}
.footer{
	width:  100%;
	border-top: thin solid #000;
}
.question_block{
	width: 100%;
	position: relative;
	display: block;
}
.question_block a{
	padding: 2px 5px;
	display: block;
	margin-left: 80%;
	position: relative;
	cursor: pointer;
}
.save{
	padding:  10px 15px;
	background: #87CEFA;
	margin-left: 20px;
}
.cancel{
	padding:  10px 15px;
	background:	#B0C4DE;
}
#question_table{
	width: 90%;
	padding: 0.5%;
	margin: 0 auto;
}
#question_table .question{
	width:  100%;
}
#question_table input{
	width: 100%;
	padding: 5px 10px;
	border: solid thin #345;
	outline:  none;
	border-radius: 5px;
	margin-top: 3px;
}
#question_table textarea{
	width: 100%;
	padding: 5px 10px;	
	border: solid thin #345;
	outline:  none;
	border-radius: 5px;
}
#question_table select{
	width: 40%;
	padding: 5px 10px;
	border: solid tick #345;
	outline:  none;
	border-radius: 5px;
}
.error {
	color : red;
}
.success {
	color : green;
}
